body{
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-left: 3em;

    .logo_start{
        float: left;
        margin-top: 0.3rem;
        margin-right: 0.5em;
        width: 1.3em;

    path{
        fill: #8B3A11;
        }
    }
    
    .logo{
        color: #8B3A11;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.3rem;
       
    }

    nav{
    
        ul{
            display: flex;
            list-style-type: none;
            margin: -1.5em;
            margin-left: 26em;
          
            
            a{
                color: #8B3A11;
                padding: .75em 1.2em;
                text-decoration: none;
                font-size: 0.9rem;
                
                &:hover{
                    font-weight: bold;
                    
                }
            }
        }
    }
}

.hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:465px;
    margin-top: 2.5em;

    .mySlides{
        width: 100%;
        height: 100%;
    }

}

.hero-line{
    position: absolute;
    top: 8px;
    margin-top: 6em;
    width: 97%;
    text-align: center;

    h1{
        font-size: 3rem;
        color: white;
        line-height: 3.3rem;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        margin-left: 1em;
        
    }

    .subhead{
        color: white;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: black;
        margin-left: 3em;
        margin-top: -2.5em;
        font-weight: bolder;
    }
}

.footer {
    left: 0;
    bottom: -4.5em;
    width: 100%;
    height: 8vh;
    margin-top: -1.7em;
    background-color: #E77170;

    .footer-class{
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.7rem;

    }
}

.container {
    position: relative;
    width: 100%;

    
    .feature1{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 4em;
        gap: 1.3em;
        margin-left: 3em;

        .pic{
            width: 40%;
            margin-top: 2em;

            .image {
                width: 100%;
                height: auto;
            }
    
        }

        .paoay{
            width: 50%;
            margin-top: 3em;

            .title1{
                font-weight: bold;
                font-size: 1.3rem;
            }

            .desc1{
                margin-top: -0.5em;
                text-align: justify;
            }

            .title2{
                font-weight: bold;
                font-size: 1.3rem;
                text-align: right;
            }

            .desc2{
                margin-top: -0.5em;
                text-align: justify;
            }
        }
    }

    .b1 {
        display: inline-block;
        border-radius: 10em;
        background-color: #E77170;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 15px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

        a{
            text-decoration: none;
            color: white;
        }
    }
      
      .b1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
      .b1 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
      .b1:hover span {
        padding-right: 25px;
    }
      
      .b1:hover span:after {
        opacity: 1;
        right: 0;
    }

      .b2 {
        display: inline-block;
        border-radius: 10em;
        background-color: #E77170;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 15px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-left: 27em;

        a{
            text-decoration: none;
            color: white;
        }
    }

    .b2 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
      .b2 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
      .b2:hover span {
        padding-right: 25px;
    }
      
      .b2:hover span:after {
        opacity: 1;
        right: 0;
    }

    .b3 {
        display: inline-block;
        border-radius: 10em;
        background-color: #E77170;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 15px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

        a{
            text-decoration: none;
            color: white;
        }
    }
      
      .b3 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
      .b3 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
      .b3:hover span {
        padding-right: 25px;
    }
      
      .b3:hover span:after {
        opacity: 1;
        right: 0;
    }

    .b4 {
        display: inline-block;
        border-radius: 10em;
        background-color: #E77170;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 15px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-left: 27em;
        margin-top: -2em;

        a{
            text-decoration: none;
            color: white;
        }
    }
      
      .b4 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
      .b4 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
      .b4:hover span {
        padding-right: 25px;
    }
      
      .b4:hover span:after {
        opacity: 1;
        right: 0;
    }

    .b5 {
        display: inline-block;
        border-radius: 10em;
        background-color: #E77170;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 15px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-top: 0.7em;

        a{
            text-decoration: none;
            color: white;
        }
    }
      
      .b5 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
      .b5 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
      .b5:hover span {
        padding-right: 25px;
    }
      
      .b5:hover span:after {
        opacity: 1;
        right: 0;
    }

    
}

.see-more{
    display: flex;
    justify-content: center;
    margin-top: -4.2em;
    margin-left: 40em;


    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #E77170;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        padding: 13px;
        width: 250px;
        transition: all 0.5s;
        cursor: pointer;
        font-weight: bold;
        
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '\00bb';

        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 15px;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }



    .next-page{
        margin-left: 1em;
        margin-top: 0.5em;
    
        
    
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
          
        a:hover {
            background-color: #E77170;
            color: black;
        }
        
        .previous {
            background-color: #c97573;
            color: black;
        }
          
        .next {
            background-color: #bb4947;
            color: white;
        }
          
        .round {
            border-radius: 50%;
        }
    }
}

    

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.468); /* Black w/ opacity */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 1px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}
  
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: #0cafa9;
    color: white;
    text-align: left;
    font-weight: bold;

    p{
        margin-top: -1.5em;
    }
}

.choices-box{
    border-radius: 15px;
    margin-top: 2em;
    height: 135vh;
    padding: 30px 20px; 
}

.button-container{
    margin-top: -1.5em;
    margin-left: auto;
    margin-right: auto;
    button{
        margin-top: 2em;
        background-color: #069691;
        box-shadow:  0px 0px 10px #003937;
        border-radius: 15px;
        border: none;
        border-radius: 12px;
        border-width: 0;
        cursor: pointer;
        width: 80%;
        height: 30vh;
        font-weight: bold;
        color: white;
    }

    .one{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40%;
                
        path{
            fill: white;
        }
    }

    a{
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 0.8rem;
        margin-top: 2em;
    }


    .two{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

    .three{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

    .four{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

    .five{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

    .six{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

    .seven{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

    .eight{
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 35%;
    }

}

.move{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-left: -1em;

    .button1{
        width: 100%;
    }

    .button2{
        width: 105%;
    }

    .button3{
        width: 100%;
    }

    .button4{
        width: 105%;
    }

    .button5{
        width: 100%;
    }

    .button6{
        width: 105%;
    }

    .button7{
        width: 100%;
    }

    .button8{
        width: 105%;
    }

}

.footer-basic {
    margin-top: 3em;
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}