@charset "UTF-8";
body {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.title {
  margin-left: 3em;
}
.title .logo_start {
  float: left;
  margin-top: 0.3rem;
  margin-right: 0.5em;
  width: 1.3em;
}
.title .logo_start path {
  fill: #8B3A11;
}
.title .logo {
  color: #8B3A11;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
}
.title nav ul {
  display: flex;
  list-style-type: none;
  margin: -1.5em;
  margin-left: 26em;
}
.title nav ul a {
  color: #8B3A11;
  padding: 0.75em 1.2em;
  text-decoration: none;
  font-size: 0.9rem;
}
.title nav ul a:hover {
  font-weight: bold;
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 465px;
  margin-top: 2.5em;
}
.hero .mySlides {
  width: 100%;
  height: 100%;
}

.hero-line {
  position: absolute;
  top: 8px;
  margin-top: 6em;
  width: 97%;
  text-align: center;
}
.hero-line h1 {
  font-size: 3rem;
  color: white;
  line-height: 3.3rem;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin-left: 1em;
}
.hero-line .subhead {
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  margin-left: 3em;
  margin-top: -2.5em;
  font-weight: bolder;
}

.more-info {
  margin-top: 5em;
  margin-left: 1em;
}
.more-info .feature {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2.5em;
  margin-bottom: 8em;
}
.more-info .feature .title {
  font-style: italic;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: -3em;
  margin-left: 18em;
}
.more-info .feature .desc {
  line-height: 1.5rem;
  margin-top: 1.5em;
  margin-right: 5em;
  text-align: justify;
}
.more-info .feature img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}
.more-info .feature img {
  width: 25em;
}
.more-info .feature .content {
  text-align: right;
  width: 25em;
}

.footer {
  display: flex;
  margin-top: -5em;
  height: 12vh;
  width: 100%;
  justify-content: center;
  background-color: #E77170;
}
.footer .footer-class {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.3em;
  margin-left: 3em;
}
.container .feature1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container .feature1 .pic {
  width: 40%;
  margin-top: 3em;
}
.container .feature1 .pic .image {
  width: 100%;
  height: auto;
}
.container .feature1 .paoay {
  width: 50%;
  margin-top: 3em;
  margin-left: 2em;
}
.container .feature1 .paoay .title1 {
  font-weight: bold;
  font-size: 1.3rem;
}
.container .feature1 .paoay .desc1 {
  text-align: justify;
}
.container .feature1 .paoay .title2 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;
  margin-left: 0;
  margin-right: 2em;
}
.container .feature1 .paoay .desc2 {
  text-align: justify;
  width: 95%;
}
.container .feature1 .paoay2 {
  width: 50%;
  margin-top: 3em;
  margin-right: 2em;
}
.container .feature1 .paoay2 .title1 {
  font-weight: bold;
  font-size: 1.3rem;
}
.container .feature1 .paoay2 .desc1 {
  text-align: justify;
}
.container .feature1 .paoay2 .title2 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;
  margin-left: 0;
  margin-right: 2em;
}
.container .feature1 .paoay2 .desc2 {
  text-align: justify;
}
.container .button {
  display: inline-block;
  border-radius: 10em;
  background-color: #E77170;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.container .button a {
  text-decoration: none;
  color: white;
}
.container .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.container .button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.container .button:hover span {
  padding-right: 25px;
}
.container .button:hover span:after {
  opacity: 1;
  right: 0;
}
.container .button2 {
  display: inline-block;
  border-radius: 10em;
  background-color: #E77170;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 25.5em;
  margin-top: 0.5em;
}
.container .button2 a {
  text-decoration: none;
  color: white;
}
.container .button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.container .button2 span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.container .button2:hover span {
  padding-right: 25px;
}
.container .button2:hover span:after {
  opacity: 1;
  right: 0;
}
.container .button3 {
  display: inline-block;
  border-radius: 10em;
  background-color: #E77170;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: -0.1em;
}
.container .button3 a {
  text-decoration: none;
  color: white;
}
.container .button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.container .button3 span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.container .button3:hover span {
  padding-right: 25px;
}
.container .button3:hover span:after {
  opacity: 1;
  right: 0;
}
.container .button4 {
  display: inline-block;
  border-radius: 10em;
  background-color: #E77170;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 25em;
}
.container .button4 a {
  text-decoration: none;
  color: white;
}
.container .button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.container .button4 span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.container .button4:hover span {
  padding-right: 25px;
}
.container .button4:hover span:after {
  opacity: 1;
  right: 0;
}
.container .button5 {
  display: inline-block;
  border-radius: 10em;
  background-color: #E77170;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 3.3em;
}
.container .button5 a {
  text-decoration: none;
  color: white;
}
.container .button5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.container .button5 span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.container .button5:hover span {
  padding-right: 25px;
}
.container .button5:hover span:after {
  opacity: 1;
  right: 0;
}

.see-more {
  display: flex;
  justify-content: center;
  margin-top: -3.8em;
  margin-left: 38em;
}
.see-more .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #E77170;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 13px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}
.see-more .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.see-more .button span:after {
  content: "»";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.see-more .button:hover span {
  padding-right: 15px;
}
.see-more .button:hover span:after {
  opacity: 1;
  right: 0;
}
.see-more .next-page {
  margin-left: 1em;
}
.see-more .next-page a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.see-more .next-page a:hover {
  background-color: #E77170;
  color: black;
}
.see-more .next-page .previous {
  background-color: #c97573;
  color: black;
}
.see-more .next-page .next {
  background-color: #bb4947;
  color: white;
}
.see-more .next-page .round {
  border-radius: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 1px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.468); /* Black w/ opacity */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 1px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0cafa9;
  color: white;
  text-align: left;
  font-weight: bold;
}
.modal-header p {
  margin-top: -1.5em;
}

.choices-box {
  border-radius: 15px;
  margin-top: 2em;
  height: 135vh;
  padding: 30px 20px;
}

.button-container {
  margin-top: -1.5em;
  margin-left: auto;
  margin-right: auto;
}
.button-container button {
  margin-top: 2em;
  background-color: #069691;
  box-shadow: 0px 0px 10px #003937;
  border-radius: 15px;
  border: none;
  border-radius: 12px;
  border-width: 0;
  cursor: pointer;
  width: 80%;
  height: 30vh;
  font-weight: bold;
  color: white;
}
.button-container .one {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
}
.button-container .one path {
  fill: white;
}
.button-container a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 2em;
}
.button-container .two {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}
.button-container .three {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}
.button-container .four {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}
.button-container .five {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}
.button-container .six {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}
.button-container .seven {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}
.button-container .eight {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 35%;
}

.move {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-left: -1em;
}
.move .button1 {
  width: 100%;
}
.move .button2 {
  width: 105%;
}
.move .button3 {
  width: 100%;
}
.move .button4 {
  width: 105%;
}
.move .button5 {
  width: 100%;
}
.move .button6 {
  width: 105%;
}
.move .button7 {
  width: 100%;
}
.move .button8 {
  width: 105%;
}

.footer-basic {
  margin-top: 3em;
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=ncr.css.map */